In [98]:
#Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [99]:
#Import Dataset
dataset = pd.read_csv("sonar.all-data.csv", header=None)
pd.set_option('display.width', 100)
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [64]:
#check for missing data
dataset.isnull().any()

0     False
1     False
2     False
3     False
4     False
      ...
56    False
57    False
58    False
59    False
60    False
Length: 61, dtype: bool

In [85]:
#target class distribution 
y_classes = dataset.groupby(60).size()
print(y_classes)

60
M    111
R     97
dtype: int64

In [86]:
#Create X Features & y target
X = dataset.iloc[:, 0:60].values
y = dataset.iloc[:, 60].values

In [87]:
print('Independent Variables:', X.shape)

Independent Variables: (208, 60)

In [88]:
print('Dependent Variable:', y.shape)

Dependent Variable: (208,)

In [89]:
#Get Dummy Variables for y-target
y_target = pd.get_dummies(dataset[60])
y_target

     M  R
0    0  1
1    0  1
2    0  1
3    0  1
4    0  1
..  .. ..
203  1  0
204  1  0
205  1  0
206  1  0
207  1  0

[208 rows x 2 columns]

In [90]:
#Split into targets , 1 is a Mine and 0 is a rock
rock_y = y_target['R']
mine_y = y_target['M']

In [91]:
#Split data into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,mine_y,
                                                   test_size=.20,
                                                   random_state=0)

In [100]:
#Train the Model
from sklearn.svm import SVC
classifier = SVC(kernel='rbf', gamma=2, C=1 , probability=True)
classifier.fit(X_train, y_train)

SVC(C=1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=2, kernel='rbf', max_iter=-1,
    probability=True, random_state=None, shrinking=True, tol=0.001,
    verbose=False)

In [101]:
#Make Predictions
y_pred = classifier.predict(X_test)

In [102]:
#Make the confusion matrix and calculate accuracy
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
model_accuracy = accuracy_score(y_test, y_pred)

In [103]:
print(cm)

[[18  3]
 [ 3 18]]

In [105]:
print("Accuracy Score: {:.2f} %".format(model_accuracy * 100))

Accuracy Score: 85.71 %